<aside class="bd-sidebar">
  <ul class="list-unstyled mb-0 py-3 pt-md-1">
    <li class="mb-1">
      <button
        class="btn d-inline-flex align-items-center rounded collapsed"
        data-bs-toggle="collapse"
        data-bs-target="#getting-started-collapse"
        aria-expanded="false"
      >
        Getting started
      </button>

      <ul class="list-unstyled fw-normal pb-1 small">
        <li>
          <a
            href="/tdei-docs/example-1"
            class="d-inline-flex align-items-center rounded"
            >Introduction</a
          >
        </li>
        <li>
          <a
            href="/tdei-docs/example-2"
            class="d-inline-flex align-items-center rounded"
            >Download</a
          >
        </li>
      </ul>
    </li>
    <li class="mb-1">
      <button
        class="btn d-inline-flex align-items-center rounded collapsed"
        data-bs-toggle="collapse"
        data-bs-target="#getting-started-collapse"
        aria-expanded="false"
      >
        Customize
      </button>

      <ul class="list-unstyled fw-normal pb-1 small">
        <li>
          <a
            href="/tdei-docs/docs/doc1"
            class="d-inline-flex align-items-center rounded"
            >Introduction</a
          >
        </li>
      </ul>
    </li>
    <li class="mb-1">
      <button
              class="btn d-inline-flex align-items-center rounded collapsed"
              data-bs-toggle="collapse"
              data-bs-target="#getting-started-collapse"
              aria-expanded="false"
      > New Menu Entry
      </button>

      <ul class="list-unstyled fw-normal pb-1 small">
        <li>
          <a
                  href="/tdei-docs/docs/doc1"
                  class="d-inline-flex align-items-center rounded"
          >Doc1 Anchor</a
          >
        </li>
        <li>
          <a
                  href="/tdei-docs/docs/doc2"
                  class="d-inline-flex align-items-center rounded"
          >Doc2 Anchor</a
          >
        </li>
      </ul>
    </li>
  </ul>
</aside>
